@model IEnumerable<fjallGuiderna.Models.Guide>

@{
    ViewData["Title"] = "Index";
}

<div class="mainContainer">
    <h1>Våra guider</h1>

    <div class="articleWrapper">
        @foreach (var item in Model)
        {
        <article class="myArticle">
            <h2>@item.FullName</h2>
            <img src="@item.ProfilePictureUrl" alt="@item.FullName" />
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="descP">@item.GuideDescription</p>
        </article>
        }
    </div>
</div>