@model IEnumerable<fjallGuiderna.Models.Guide>

@{
    ViewData["Title"] = "Index";
}

<div class="mainContainer">
    <h1>Våra guider</h1>

    <div class="articleWrapper">
        @foreach (var item in Model)
        {
            <article class="myArticle">
                <h2>@item.FullName</h2>
                <img src="@item.ProfilePictureUrl" alt="@item.FullName" />
                <p class="descP">@item.GuideDescription</p>
                <div class="editWrapperLink">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </article>
        }
    </div>
</div>