@model IEnumerable<fjallGuiderna.Models.Guide>

@{
    ViewData["Title"] = "Index";
}

<div class="mainContainer">
    <h1>Våra guider</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <div class="articleWrapper">
        @foreach (var item in Model)
        {
            <article class="myArticle">
                <h2>@item.FullName</h2>
                <img src="@item.ProfilePictureUrl" alt="@item.FullName" />
                <p class="descP">@item.GuideDescription</p>
                <div class="editWrapperLink">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </article>
        }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProfilePictureUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GuideDescription)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfilePictureUrl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GuideDescription)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }