@model IEnumerable<fjallGuiderna.Models.NatureActivity>

@{
    ViewData["Title"] = "Index";
}

<div class="mainContainer">

    <h1>Aktiviter</h1>
    <p>Här ser du våra spännande aktiviter som du kan få uppleva!</p>


    <div class="articleWrapper">
        @foreach (var item in Model)
        {
            <article class="myArticle">
                <h2>@item.Name</h2>
                <img src="@item.PictureUrl" alt="@item.Name" />
                <p class="descP">@item.Description</p>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Location)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.Name)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfParticipants)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfParticipants) st
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price) kr
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="footerArticleWrapper">
                    <div class="guideImgWrapper">
                        <img class="maxHeight40" src="@Html.DisplayFor(modelItem => item.Guide.ProfilePictureUrl)" alt="Guide: @Html.DisplayFor(modelItem => item.Guide.FullName)" />
                        <p><span class="font-weight-bold">@Html.DisplayNameFor(model => model.Guide):</span> @Html.DisplayFor(modelItem => item.Guide.FullName)</p>
                    </div>
                    <div class="btnWrapper">
                        <button class="btn btn-primary buy-btn"><i class="fas fa-shopping-cart mr-1"></i>Intresseanmälan</button>
                    </div>
                </div>

            </article>
        }
    </div>
</div>

